<h3><%= EXAMPLES[example][:title] %></h3>

<div class="row">
  <div class="col-xs-8">
    <div class="well well-sm"><em>RubyRandimage.create(<%= EXAMPLES[example] %>)</em></div>

    <%= form_tag demo_example_path(example: example), :remote => true do %>
      <%= submit_tag 'Generate', :class => "btn btn-default", :onclick => "track_cta_click('generate', #{example});" %>
    <% end %>
  </div>

  <div class="col-xs-4">
    <%= image_tag "data:image/svg+xml;utf8, #{raw(image || @image)}", width: "200px", id: "example#{example}", class: 'svg-img img-responsive' %>
  </div>
</div>
