<h1>RubyRandimage</h1>

<%= link_to "https://travis-ci.org/santiriera626/ruby_randimage", :target => "_blank" do %>
  <%= image_tag "https://travis-ci.org/santiriera626/ruby_randimage.svg?branch=master" %>
<% end %>

<%= link_to "https://coveralls.io/github/santiriera626/ruby_randimage?branch=master", :target => "_blank"  do %>
  <%= image_tag "https://coveralls.io/repos/github/santiriera626/ruby_randimage/badge.svg?branch=master" %>
<% end %>

<%= link_to "https://codeclimate.com/github/santiriera626/ruby_randimage", :target => "_blank" do %>
  <%= image_tag "https://codeclimate.com/github/santiriera626/ruby_randimage/badges/gpa.svg" %>
<% end %>
